<div class="cart-container">
  <div class="carts">
    <h2>Sepetler</h2>
    <button pButton type="button" label="Yeni Sepet Oluştur" icon="pi pi-plus" (click)="createCart()" style="margin-bottom: 15px;"></button>
    <div *ngFor="let cart of carts" (click)="selectCart(cart)" [class.selected]="selectedCart && selectedCart.id === cart.id" class="cart-item">
      <h3>Sepet {{ cart.id }}</h3>
      <p>Total: {{ cart.total | currency:'TRY' }}</p>
    </div>
  </div>

  <div *ngIf="selectedCart" class="selected-cart">
    <h2>Seçili Sepet</h2>
    <div class="actions">
      <button pButton type="button" label="Tümünü Seç" icon="pi pi-check" (click)="selectAllItems(true)"></button>
      <button pButton type="button" label="Seçilenleri Çıkart" icon="pi pi-trash" (click)="removeSelectedItems()"></button>
    </div>
    <p-table [value]="selectedCart.items" dataKey="product.productId" selectionMode="multiple" [(selection)]="selectedCart.items">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Ürün Adı</th>
          <th>Adet</th>
          <th>Fiyat</th>
          <th>İşlemler</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr (click)="goToDetail(item.product.productId)">
          <td>
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td>{{ item.product.productName }}</td>
          <td>
            <p-inputNumber [(ngModel)]="item.quantity" (onInput)="updateQuantity(item.product, item.quantity)"></p-inputNumber>
          </td>
          <td>{{ item.product.productPrice | currency:'TRY' }}</td>
          <td>
            <button pButton type="button" icon="pi pi-trash" label="Çıkart" (click)="removeFromCart(item.product)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="cart-summary">
      <p>Toplam: {{ calculateTotal() | currency:'TRY' }}</p>
      <p>Kargo Ücreti: {{ calculateShippingFee() | currency:'TRY' }}</p>
    </div>
  </div>
</div>
