.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.product-card {
  width: 300px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px; /* Kartın minimum yüksekliğini ayarlayın */
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .product-image {
    width: 100%;
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-info {
    padding: 15px;
    flex-grow: 1;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    p {
      margin: 5px 0;
      color: #6c757d;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .product-actions {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #dee2e6;
    background-color: #fff;

    button {
      flex: 1;
      margin: 0 5px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      &:first-of-type {
        background-color: #ffc107;
        &:hover {
          background-color: #e0a800;
        }
      }
    }
  }
}
